<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Portal</title>
</head>
<body>

    <a href="/">Add and Update Forms</a>
    <h2>Data</h2>
    <a href="/data">Refresh</a><br>
    
    <h3>Search for a student by id</h3>
    <p>Current student selected: <%= currentId %></p>

<form method="GET" action="/getstudent">
        <input type="number" placeholder="Enter id of a student" name="searchid" id="searchid"><br>
        <button type="submit" id='searchButton'>Search</button>
    </form>

    <h3>Search for a degree</h3>
    <p>Current degree selected: <%= currentdegree %></p>

    <form method="GET" action="/getdegrees">
      <input type="text" placeholder="Enter a degree" name="degree" id="degree"><br>
      <button type="submit" id='degreebutton'>Search</button>
  </form>

  <h3>Enter id of a student to delete</h3>
  <form method="GET" action="/delstudent">
    <input type="number" placeholder="Enter id of a student" name="searchid" id="searchid"><br>
    <button type="submit" id='deleteButton'>Delete</button>
</form><br>

<h3>Students will appear here in order of data added:</h3>
  <ul class="user_data">
    <% for(var i = 0; i < user_data.length; i++) {%>
      <div class="data">
        <h3>Firstname:</h3>
        <span><%= user_data[i].name %></span><br>
        <h3>Surname:</h3>
        <span><%= user_data[i].surname %></span><br>
        <h3>Student Id:</h3>
        <span><%= user_data[i].student_id %></span><br>
        <h3>Age:</h3>
        <span><%= user_data[i].age %></span><br>
        <h3>Nationality:</h3>
        <span><%= user_data[i].nationality %></span><br>
        <h3>Degree:</h3>
        <span><%= user_data[i].degree %></span><br>
        <h3>Date added:</h3>
        <span><%= user_data[i].dateAdded %></span><br>
        <br><br>
      </div>
    <% } %>
  </ul>
</body>
</html>
