<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignment 1</title>
</head>
<body>
  <h1>Student data</h1>

  <!--Form adding user data to the database-->
  <form action="/user_data" method="POST">
    <label for="name">First name:</label><br>
    <input type="text" placeholder="Firstname" name="name"  id="name" required><br>
    <label for="surname">Surname:</label><br>
    <input type="text" placeholder="Surname" name="surname" id="surname"  required><br>
    <label for="student_id">Student Id:</label><br>
    <input type="number" placeholder="Student Id" name="student_id" id="student_id" required><br>
    <label for="age">Age:</label><br>
    <input type="number" placeholder="Age" name="age" id="age" required><br>
    <label for="nationality">Nationality:</label><br>
    <input type="text" placeholder="Nationality" name="nationality" id="nationality" required><br>
    <label for="degree">Degree:</label><br>
    <input type="text" placeholder="Degree" name="degree" id="degree" required><br>
    <button type="submit">Submit</button>
  </form><br>

  <h2>Data Portal</h2>

  <!--Ul to display user data read from the database-->
  <ul class="user_data">
    <% for(var i = 0; i < user_data.length; i++) {%>
      <div class="data">
        <h3>Firstname:</h3>
        <span><%= user_data[i].name %></span><br>
        <h3>Surname:</h3>
        <span><%= user_data[i].surname %></span><br>
        <h3>Student Id:</h3>
        <span><%= user_data[i].student_id %></span><br>
        <h3>Age:</h3>
        <span><%= user_data[i].age %></span><br>
        <h3>Nationality:</h3>
        <span><%= user_data[i].nationality %></span><br>
        <h3>Degree:</h3>
        <span><%= user_data[i].degree %></span><br>
        <br><br>
      </div>
    <% } %>
  </ul>

</body>
</html>